#content .x-external-form .form-content {
  position: relative;
  overflow: hidden;
}
#content .x-external-form .form-content .form-head .head-banner {
  min-height: 1rem;
}
#content .x-external-form .form-content .form-head .head-banner .head-title {
  padding: .8rem .55rem 0;
  font-size: 20px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
#content .x-external-form .form-content .form-body .x-form {
  width: 100%;
  color: #1f2d3d;
  padding: .25rem .55rem 2.5rem;
}
#content .x-external-form .form-content .form-body .x-form.relative {
  padding-bottom: .25rem;
}
#content .x-external-form .form-content .form-body .x-form .f-line {
  padding: .5rem 0;
}
#content .x-external-form .form-content .form-body .x-form .f-label {
  line-height: 1.05rem;
  font-size: .75rem;
  padding-bottom: .25rem;
  font-weight: 700;
}
#content .x-external-form .form-content .form-body .x-form .f-required {
  padding-left: .25rem;
  color: #f04134;
}
#content .x-external-form .form-content .form-body .x-form .x-combo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-bottom: solid 1px #e5e5e5;
}
#content .x-external-form .form-content .form-body .x-form .x-combo .x-picker-label {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#content .x-external-form .form-content .form-body .x-form .x-textarea > .text-area {
  min-height: 8rem;
  background: #fff;
  color: #1f2d3d;
  line-height: 1.05rem;
  margin: 0;
  outline: 0;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
  word-break: break-all;
  word-wrap: break-word;
}
